$blue: #0084ff;
$blue-darker: darken($blue, 5);
$btn-light-orange: #efb70d;
$btn-dark-orange: #f88933;
$btn-light-green: #53dd03;
$btn-dark-green: #5aae2c;
$btn-hover: #aff;

// @font-face {
//     font-family: 'Wicked Mouse';
//     src:url('font/WickedMouse.ttf.woff') format('woff'),
//         url('font/WickedMouse.ttf.svg#WickedMouse') format('svg'),
//         url('font/WickedMouse.ttf.eot'),
//         url('font/WickedMouse.ttf.eot?#iefix') format('embedded-opentype'); 
//     font-weight: normal;
//     font-style: normal;
// }

@import url('https://fonts.cdnfonts.com/css/wicked-mouse');

$font-btn-title: 'Wicked Mouse', sans-serif;

body {
    background: $blue;
    padding: 28px;
    font-family: Helvetica;
    margin: 0;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    // Set max width to 1000px so that the buttons are beside eachother since max width for each is 500px
    max-width: 1000px;
    // Set row sizes to be the same so buttons have the same height
    grid-auto-rows: 1fr;
    

    .btn {
        color: white;
        border-radius: 20px;
        border-width: 10px;
        text-align: center;
        max-width: 500px;

        // Center contents in the smaller button
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .btn-text-top {
            margin-top: 1.2em;
            margin-bottom: 0.5em;
            margin-left: max(calc(0.8em - 2vw),2px);
            margin-right: max(calc(0.8em - 2vw),2px);
            text-transform: uppercase;

            .btn-title {
                font-family: $font-btn-title;
                font-size: calc(1.2rem + 1vw);
                // font-size: 1.7em;
                // letter-spacing: 0.1em;
                letter-spacing: 3.5px;
                line-height: 1.25em;
                // title text moving transition on hover
                // transition: letter-spacing 0s ease-in-out;          
            }
        }
        
        .btn-text-bottom {
            margin-bottom: 1.2em;
            margin-left: 3vw;
            margin-right: 3vw;
            .btn-subtext {
                font-size: calc(0.6rem + 0.7vw);
                font-family: Arial, Helvetica, sans-serif;
                line-height: 1.2; 
                color: white;
                -webkit-text-stroke: 0.3px white;
                letter-spacing: 0.04em;
            }
        }

        &:hover {
            filter: drop-shadow(0 5px 3px $btn-hover);
            border: 1px solid #fef;
            // offset the extra border space
            margin: -1px;
            
            // .btn-text-top .btn-title {
            //     // letter-spacing: 0.15em;
            //     letter-spacing: 6.5px;
            // }
        }

        
    }


    .button-left-top {
        background: linear-gradient(to bottom, $btn-light-orange 0%, $btn-dark-orange 100%);
        grid-row: 1;
        grid-column: 1;
    }
    
    .button-right-bottom {
        grid-row: 2;
        grid-column: 2;
        background: radial-gradient(130% 120% at 50% 30%, #54d00a 20%, darken(#54d00a, 6) 100%);
    }
}

